@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    /* primer */
    --logo-orange: #e96f23;
    --logo-green: #0B776F;
    --logo-yellow: #e9ba1d;
    --logo-red: #D41E47;
}

#primer{
    color: var(--logo-green);
}
