@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    /*font-family: "Oswald", sans-serif;*/
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-decoration: none;
}

:root{
    /* primer */
    --logo-orange: #e96f23;
    --logo-green: #0B776F;
    --logo-green-opacity50: rgba(11, 119, 111, 0.5);
    --logo-yellow: #e9ba1d;
    --logo-red: #D41E47;
    --logo-red-opacity50: rgba(212, 30, 71, 0.5);

    --hover-red: #ff0055;
    --body-white:#faf5f6;
    --silver-text: #aaa;
}

#primer{
    color: var(--logo-green);
}

h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", sans-serif;
    font-weight: 600;
}

a {
    color: inherit;
}

.hero-section-title{
    font-family: "Lobster", sans-serif;
    font-weight: bold;
}



